body,html {
    height: 100%;
    width: 100%;
    margin: 0;
}

#Main {
    background-color: aqua;

    height: 100%;
    aspect-ratio: 1;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#Title {
    background-color: blueviolet;

    width: 80vmin;
    height: 15vmin;

    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%,-50%);
}

#Config {
    background-color: chartreuse;

    width: 80%;
    height: 7vmin;

    position: absolute;
    left: 50%;
    top: 27%;
    transform: translate(-50%,-50%);
}

#Grid {
    background-color: brown;

    width: 60%;
    aspect-ratio: 1;

    position: absolute;
    display: grid;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
}

#Circle {
    width: 60%;
    aspect-ratio: 1;

    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
}

#WidthTitle {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-size: 4vmin;
}

#Width {
    position: absolute;
    left: 28%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}

#Pixels {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%,-50%);
    margin: 0;
    font-size: 4vmin;
}

.Cell {
    background-color: chocolate;

    margin: 0;
    aspect-ratio: 1;

    border: 0.1vmin solid black;
}

.PaintedCell {
    background-color: rgb(255, 0, 0);

    margin: 0;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);

    border: 0.1vmin solid black;

    position: absolute;
}

#Center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background-color: darkolivegreen;
    
    width: 2%;
    aspect-ratio: 1;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #Main {
        background-color: aqua;

        width: 100%;
        height: initial;
        aspect-ratio: 2/3;

        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    #Grid, #Circle {
        width: 90%;
    }

    #Config {
        width: 90%;
        height: 10%;
    }

    #WidthTitle {
        font-size: 7vmin;
        left: 15%;
    }

    #Width {
        left: 37%;
        height: 30%;
        margin: 0;

    }

    #Pixels {
        font-size: 7vmin;
        left: 50%;
    }
}